.container{
    text-align: center;
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #703a2e;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-indicator {
    color: #703a2e;
    font-size: 25px;
    font-weight: bold;
}

.new-game{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #F3A98E;
    border: 1px solid #703a2e;
    font-size: 26px;
    font-weight: bold;
    color: #703a2e;
}
.new-game:hover {
    background-color: #804336;
    color: #f5b098;
}
.boxes{
    display: flex;
    justify-content: center;
    height: 155px;
    width: 155px;
    margin-left: 5px;
    margin-bottom: 5px;
    background: #F3A98E;
    border: 3px solid #91574a;
    border-radius: 10px;
    cursor: pointer;
}
.board{

    height: 510px;
    width: 510px;

    display: flex;
    margin: 0 auto;

}
.board img{
    height: 160px;
    width: 160px;
}
.frame1{
    margin-top: 15px;
}
.message{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background: #804b3e;
    font-style: italic;
    font-size: 24px;
    color: #facfc5;
}
.message{
    margin-top: 0;
    position: relative;
    animation: myfirst 2s 2;
    animation-direction: alternate;
}
@keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    100%  {left: 100px; top: 0px;}
}


.board img {

    height: 155px;
    width: 155px;
}

.glow {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #703a2e, 0 0 10px #703a2e, 0 0 15px #703a2e, 0 0 20px #703a2e;
  }
  to {
    box-shadow: 0 0 10px #99505c, 0 0 20px #99505c, 0 0 30px #99505c, 0 0 40px #99505c;
  }
}


