.container{
    text-align: center;
}
.title{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #703a2e;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-indicator {
    color: #703a2e;
    font-size: 25px;
    font-weight: bold;
}

.new-game{
    width: 180px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #F3A98E;
    border: 1px solid #703a2e;
    font-size: 26px;
    font-weight: bold;
    color: #703a2e;
    margin-top: 5px;
    margin-right: 20px;
}
.new-game:hover {
    background-color: #804336;
    color: #f5b098;
}
.boxes{
    display: flex;
    justify-content: center;
    height: 155px;
    width: 155px;
    margin-left: 5px;
    margin-bottom: 5px;
    background: #F3A98E;
    border: 3px solid #91574a;
    border-radius: 10px;
    cursor: pointer;
}
.board{
    height: 520px;
    width: 520px;
    display: flex;
    margin: 0 auto;

}

.board img {

    height: 155px;
    width: 155px;
}

