.container{
    text-align: center;
}
.container img {
    width:400px;
    height: 200px;
}
.title1{
    margin-top: 80px;
    margin-bottom: 50px;
    color: #703a2e;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-buttons{
    width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.secondRowButtons {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    gap: 5em;
}
.firstButton a button {
    padding: 10px 25px 15px 25px;
    text-decoration: none;
    border-radius: 20px;
    background: #F3A98E;
    border: 1px solid #703a2e;
    font-size: 24px;
    font-weight: bold;
    color: #703a2e;
}
.firstButton a button:hover {
    background-color: #804336;
    color: #f5b098;
}
.secondButton a button, .scoreButton a button{
    padding: 10px 25px 15px 25px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #703a2e;
    background: #804336;
    font-size: 24px;
    font-weight: bold;
    color: #f5b098;
}
.secondButton a button:hover, .scoreButton a button:hover {
    background-color: #F3A98E; /* Green */
    color: #703a2e;
    border: 1px solid #703a2e;
}




